<template>
  <div class="NotFound">

    <div class="lost dark middle pt-40 pb-12">
      <div class="constrain">

        <h1 class="h3 text-center">
          Page not found
        </h1>

      </div>
    </div>

    <Footer class="mt-1" />

  </div>
</template>

<script>
import Footer from '../blocks/Footer.vue';

export default {
  components: { Footer },
};
</script>

<style scoped lang="scss">

.NotFound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lost {
  flex-grow: 1;
}

</style>
