@use 'sass:math';

@mixin make-grid-columns($columns) {
    // Provide basic `.col-{bp}` classes for equal-width flexbox columns
    @for $i from 1 through $columns {
        .col-#{$i} {
            flex: 0 0 auto;
            width: percentage(math.div($i, $columns));
        }
    }

    // `$columns - 1` because offsetting by the width of an entire row isn't possible
    @for $i from 0 through ($columns - 1) {
        .offset-#{$i} {
            $num: math.div($i, $columns);
            margin-left: if($num == 0, 0, percentage($num));
        }
    }
}

/***********************************
    TAILWIND INCLUSION
***********************************/
$cols: 12;

@layer base {
    // Row
    //
    // Rows contain your columns.
    %row {
        --gutter-x: 1rem;
        --gutter-y: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--gutter-y) * -1);
        margin-right: calc(var(--gutter-x) / -2);
        margin-left: calc(var(--gutter-x) / -2);

        > * {
            // Prevent columns from becoming too narrow when at smaller grid tiers by
            // always setting `width: 100%;`. This works because we set the width
            // later on to override this initial width.
            flex-shrink: 0;
            width: 100%;
            max-width: 100%; // Prevent `.col-auto`, `.col` (& responsive variants) from breaking out the grid
            padding-right: calc(var(--gutter-x) / 2);
            padding-left: calc(var(--gutter-x) / 2);
            margin-top: var(--gutter-y);
        }
    }

    // generate .row-2, row-3... row styles
    @for $i from 2 through $cols {
        .row-#{$i} {
            @extend %row;
        }
    }

    // responsive styles for grid columns
    @variants responsive {
        .col {
            flex: 1 0 0%; // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
        }

        .col-auto {
            flex-grow: 1;
            flex-basis: 0;
            width: auto;
        }

        @for $i from 2 through $cols {
            .row-#{$i} > {
                @include make-grid-columns($i);
            }
        }
    }
}
