@import "variables";
@import "grid";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow: #fede55;
  --color-teal: #7dbbc8;
}

.page-wrapper {
  @apply pt-8;
}

p, td, th {
  @apply text-base;
}

.btn {
  @apply px-4;
  @apply py-2;
  @apply rounded;
  background: $colorMain;
  color: black;
  &.block {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.form {
  width: 100%;
  display: block;
  @apply p-5;
  .form-element {
    width: 100%;
    @apply mb-4;
    input {
      width: 100%;
      @apply border-2;
      @apply rounded;
      @apply border-gray-200;
      @apply p-2;
    }
  }
}
