<template>
  <div class="LandingPage">

    <div class="text-center p-16">
      <h1>Hi there! ;-)</h1>
    </div>

  </div>
</template>

<script>

export default {
  components: {
  },
};
</script>

<style scoped lang="scss">

</style>
