<template>
  <footer class="Footer bg-teal p-4 mt-4">
    © by jkweb
  </footer>
</template>

<script>

export default {
  components: {},
  data: () => ({
    email: '',
  }),
};
</script>

<style lang="scss" scoped>

</style>
