<template>
  <header>
    <nav class="flex items-center justify-between flex-wrap bg-yellow px-4 py-2">
      <div class="flex items-center flex-no-shrink text-white mr-6">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 689.2 251.1">
          <g id="Layer_2" data-name="Layer 2">
            <g id="final">
              <path
                  d="M633.2,71.2a51.92,51.92,0,0,0-34.1,12.9V5.5H564V192.8h34.1V181.4a52.42,52.42,0,0,0,35.1,13.8c30.9,0,56-27.8,56-62S664.1,71.2,633.2,71.2ZM624,162.7a29.78,29.78,0,0,1-26-15.3V118.7a29.69,29.69,0,1,1,26,44Z"></path>
              <path
                  d="M512.2,151.4c-1.8,4.4-5.2,7.9-9.7,10.6a29,29,0,0,1-15.1,4.6,30.09,30.09,0,0,1-19.4-6.5,24.64,24.64,0,0,1-9.8-17h86.4a79.26,79.26,0,0,0,.7-12.5c0-17.8-5.5-32.2-16.6-43.2s-25.2-16.6-43-16.6A61.13,61.13,0,0,0,454.3,79,65.28,65.28,0,0,0,431,101.8a59.85,59.85,0,0,0-8.6,31.4,61.57,61.57,0,0,0,8.9,32.4,60.2,60.2,0,0,0,23.8,22.1,69.22,69.22,0,0,0,32.9,7.9,59.59,59.59,0,0,0,32.9-9.4,49.32,49.32,0,0,0,16.7-17.3ZM467,105.8c4.8-4.6,10.6-6.7,17.8-6.7,8.2,0,15.4,2.9,19.2,7.2a23.43,23.43,0,0,1,6.2,13.4H458.8C459.6,115.1,462.5,110.3,467,105.8Z"></path>
              <path
                  d="M357.5,148.3l22.6-74.6h34.8L377.7,193H343.1l-24.2-76.1L294.2,193H260.3l-37-119.3h35.5l21.6,73.9h.2l22.3-73.9h32.2Z"></path>
              <path d="M215,192.9H169.4l-43-59.8,43-59.5H215l-45,59.6ZM125.9,5.3H91.1V192.9h34.8Z"></path>
              <path
                  d="M22.8,21.6A21.6,21.6,0,1,1,44.4,43.2,21.64,21.64,0,0,1,22.8,21.6Zm4.4,169.5a5.46,5.46,0,0,1-1.1,3.3L0,230.5l28.5,20.6,30.9-42.8a14.43,14.43,0,0,0,2.7-8.3V71.7h-35V191.1Z"></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="block lg:hidden">
        <button
            class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
          <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
          </svg>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <router-link to="/"
                       class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
            Home
          </router-link>
          <router-link to="/projects"
             class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
            Projects
          </router-link>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
</script>

<style lang="scss" scoped>
.logo {
  height: 3rem;
  @apply p-2;
}
</style>
