<template>
  <div class="page-wrapper">
    <div class="container mx-auto">

      <section class="py-1 bg-blueGray-50">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">

          <div class="block w-full overflow-x-auto">
            <table class="items-center bg-transparent w-full border-collapse ">
              <thead>
              <tr>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Project
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Manager
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  E-Mail
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Todos
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Actions
                </th>
              </tr>
              </thead>

              <tbody>
              <tr v-for="project in projects">
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4 text-left text-blueGray-700 ">
                  {{ project.name }}
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4 ">
                  {{ project.manager }}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4 ">
                  {{ project.email }}
                </td>
                <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-base whitespace-nowrap p-4">
                  {{ project.todos.length }}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4">
                  <router-link :to="{ name: 'project-show', params: { id: project.id }}">
                    <fa icon="eye" class="mr-2"></fa>
                  </router-link>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </section>
    </div>

    <Footer/>
  </div>
</template>

<script>

import axios from "axios";

export default {
  data: () => ({
    projects: []
  }),
  mounted() {
    this.updateProjects();
  },
  components: {},
  methods: {
    async updateProjects() {
      this.projects.length = 0;
      const response = await axios.get(`${this.$API}/projects`);
      this.projects = response.data['hydra:member'];
    }
  }
};
</script>

<style scoped lang="scss">

</style>
