<template>
  <div class="page-wrapper">
    <div class="container mx-auto">
      <div class="row-12">
        <div class="md:col-3"></div>
        <div class="md:col-6">
          <div class="box border-2 rounded">
            <div class="project-header border-b-2 p-3 text-center">
              <h1>{{ project.name }}</h1>
              <p>Project Manager: <strong>{{ project.manager }}</strong></p>
            </div>
            <div class="add-todo border-b">
              <form @submit.prevent="addTodo()" class="form">
                <div class="form-element">
                  <input
                      v-model="newTodo"
                      name="newTodo"
                      autocomplete="off"
                      placeholder="I need to..."
                  >
                </div>
                <button type="submit" class="btn block">Add Todo</button>
              </form>
            </div>
            <div class="">
              <div v-for="todo in project.todos" class="todo" :class="{'done': todo.done}">
                <div class="todo-status" @click=toggleTodo(todo)>
                  <fa v-if="todo.done" icon="check"></fa>
                </div>
                <div class="todo-content">
                  {{ todo.name }}
                </div>
                <div class="todo-actions">
                  <fa @click="deleteTodo(todo)" class="mr-2" icon="trash"></fa>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>

import axios from "axios";

export default {
  data: () => ({
    project: {},
    newTodo: '',
  }),
  mounted() {
    this.loadProject();
  },
  components: {},
  methods: {
    async loadProject() {
      const response = await axios.get(`${this.$API}/projects/${this.$route.params.id}`);
      console.log(response.data);
      this.project = response.data;
    },
    async toggleTodo(todo) {
      const response = await axios.patch(`${this.$API}/todos/${todo.id}`,
          {id: todo.id, done: !todo.done}, {
            headers: {
              'Content-Type': 'application/merge-patch+json'
            }
          });
      this.project = this.loadProject();
    },
    async addTodo() {
      const data = {
        project: this.project['@id'],
        name: this.newTodo
      }
      const response = await axios.post(`${this.$API}/todos`, data,);
      this.newTodo = '';
      this.project = this.loadProject();
    },
    async deleteTodo(todo) {
      const response = await axios.delete(`${this.$API}/todos/${todo.id}`);
      this.project = this.loadProject();
    }
  }
};
</script>

<style scoped lang="scss">
.todo {
  height: 2rem;
  @apply m-4;
  @apply flex items-center;
  &.done {
    .todo-content {
      opacity: 0.5;
    }
  }

  .todo-status {
    width: 2rem;
    height: 2rem;
    @apply border-2;
    @apply rounded;
    @apply flex items-center justify-center;
  }

  .todo-actions {
    @apply flex;
  }

  .todo-content {
    width: 100%;
    @apply pl-4;
  }
  .todo-actions svg, .todo-status {
    cursor: pointer;
  }
}

</style>
