<template>
  <div class="page-wrapper">
    <div class="container mx-auto">
      <div class="row-12">
        <div class="md:col-3"></div>
        <div class="md:col-6">
          <div class="box border-2 rounded">
            <div class="project-header border-b-2 p-3 text-center">
              <h1>{{ project.name }}</h1>
              <p>Project Manager: <strong>{{ project.manager }}</strong></p>
            </div>
            <div class="add-todo border-b">
              <form @submit.prevent="addTodo()" class="form">
                <div class="form-element">
                  <input
                      v-model="newTodo"
                      name="newTodo"
                      autocomplete="off"
                      placeholder="I need to..."
                  >
                </div>
                <button type="submit" class="btn block">Add Todo</button>
              </form>
            </div>
            <div class="">
              <div v-for="todo in project.todos" class="todo" :class="{'done': todo.done}">
                <div class="todo-status" @click=toggleTodo(todo)>
                  <fa v-if="todo.done" icon="check"></fa>
                </div>
                <div class="todo-content">
                  {{ todo.name }}
                </div>
                <div class="todo-actions">
                  <fa @click="deleteTodo(todo)" class="mr-2" icon="trash"></fa>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>

import axios from "axios";
import {ref, computed, reactive, onMounted} from "vue";
import { useRoute, useRouter } from 'vue-router';

export default {
  setup(){

    const route = useRoute();
    const router = useRouter();
    const id = route.params.id;

    const newTodo = ref('');

    const project = ref({
      name: 'nameeee',
      manager: 'managermanagermanager',
      todos: [
        {
          name: 'kek',
          done: true,
        },
      ],
    });


    fetch(`http://localhost:8080/api/projects/` + id)
        .then((response) => response.json())
        .then((data) => {
          project.value = data;
        })
        .catch((err) => {
          console.log(err);
        });

    function toggleTodo(todo) {

      todo.done = !todo.done;

      axios.patch(`http://localhost:8080/api/todos/${todo.id}`,
          {id: todo.id, done: todo.done}, {
            headers: {
              'Content-Type': 'application/merge-patch+json'
            }
          })
          .catch((err) => {
            todo.done = !todo.done;
      });

    }

    function deleteTodo(todo) {

      axios.delete(`http://localhost:8080/api/todos/${todo.id}`);

      project.value.todos = project.value.todos.filter((item) => {
        return item.id !== todo.id;
      })

    }

    function addTodo() {

      axios.post(`http://localhost:8080/api/todos`, {
        project: project.value['@id'],
        name: newTodo.value
      }).then((response) => {
        project.value.todos.push(response.data);
      });

      newTodo.value = '';
    }

    return {
      newTodo,
      project,
      toggleTodo,
      deleteTodo,
      addTodo,
    };
  }
};
</script>

<style scoped lang="scss">
.todo {
  height: 2rem;
  @apply m-4;
  @apply flex items-center;
  &.done {
    .todo-content {
      opacity: 0.5;
    }
  }

  .todo-status {
    width: 2rem;
    height: 2rem;
    @apply border-2;
    @apply rounded;
    @apply flex items-center justify-center;
  }

  .todo-actions {
    @apply flex;
  }

  .todo-content {
    width: 100%;
    @apply pl-4;
  }
  .todo-actions svg, .todo-status {
    cursor: pointer;
  }
}

</style>
